body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    border: 0px;
    padding: 16px;
}

a:link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 0px;
    padding: 16px;
    display: flex;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
}

.header-links {
    margin-left: auto;
    gap: 20px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    flex: none;
    justify-content: center;
    align-items: flex-end;
    gap: 48px;
    padding: 16px;
}

.hero-main-text {
    font-size: 47px;
    color: #F9FAF8;
    font-weight: bold;
    width: 400px;
    padding: 0px;
    border: 0px;
    margin-bottom: auto;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
}

.donate-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    height: 45px;
    width: 80px;
    border: none;
    border-radius: 4px;

}

.sign-up-button:hover {
    cursor: pointer;
    opacity: 0.75;
    transform: 0.15s;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero-image {
    height: 225px;
    width: auto;
}

img {
    border-radius: 10px;
    border: 5px solid #3882F6;
}

.info-image {
    width: 400px;
    height: 400px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.caption {
    color: #1F2937;
    text-align: center;
    font-size: 18px;
}

.info-images-text {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 0px;
}

.quote-author {
    font-size: 28px;
    font-weight: bold;
    color: #1F2937;
    padding: 0px;
}

.footer {
    margin-top: auto;
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: #F9FAF8;
    background-color: #1F2937;
}